<!-- Form Errors Partial
 *
 * gets the form errors and displays them
 -->


<f:form.validationResults>
    <!-- check if error messages are present -->
    <f:if condition="{validationResults.flattenedErrors}">
        <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
            <f:for each="{errors}" as="error">
                <script>
                    // split property path to get only property name
                    property = ("{propertyPath}").split(".")[1];
                    // find label for property and append the translated error message
                    $('label[for="' + property + '"]').append("<p class='text-danger'><f:translate key='error.{error.code}'> </f:translate></p>");
                </script>
            </f:for>
        </f:for>
    </f:if>
</f:form.validationResults>