<!-- Project Form Fields Partial
 *
 * define Form Fields for Project Form
 *
 -->

<label for="title">
    <f:translate key="tx_kzoreschedule_domain_model_project.title"/>
    <span class="small"> (Nur für dich sichtbar)</span>
</label>
<br/>

<f:form.textfield class="form-control" property="title"/><br/>


<label for="comment">
    <f:translate key="tx_kzoreschedule_domain_model_project.comment"/>
</label>
<br/>

<f:form.textarea class="form-control" property="comment" cols="10" rows="2"/><br/>