<!-- Project Form Fields Partial
 *
 * define Form Fields for Project Form
 *
 -->
<div class="form-group">
<label for="title">
    <f:translate key="tx_kzoreschedule_domain_model_project.title"/> <small style="font-size: 10px;">(nur für dich sichtbar)</small>
</label>

<f:form.textfield class="form-control" property="title"/>
<br>
</div>
<div class="form-group">

<label for="comment">
    <f:translate key="tx_kzoreschedule_domain_model_project.comment"/> (*)
</label>


<f:form.textarea class="form-control" property="comment" cols="10" rows="2"/><br/>
</div>