<!-- Project SecretaryProperties Partial
 *
 * returns a table with relevant information associated to the given project for secretary
 *  (no title and progress)
 *
 -->
<table class="tx-kzoreschedule table table-basic">
    <tr>
        <td>
            <f:translate key="tx_kzoreschedule_domain_model_project.user_id"/>
        </td>
        <td>
           {project.userId}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_kzoreschedule_domain_model_project.comment"/>
        </td>
        <td>
            {project.comment}
        </td>
    </tr>
</table>