<!-- Secretary Change List Partial
 *
 * generate table to display on list and project detail page in secretary module
 *
 -->

<f:if condition="{project.changes}">
    <f:then>
        <tr>
            <th></th>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_change.course_id"/>
            </th>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_change.original_lesson"/>
            </th>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_change.changed_lesson"/>
            </th>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_change.room"/>
            </th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        <f:for each="{project.changes}" as="change">
            <tr>
                <!-- Set Color and Text for Secretary Answer (either 0 => not yet handled, 1 => denied, 2 => approved) -->
                <f:render partial="Change/SecretaryAnswerText" arguments="{change : change}"></f:render>
                <td>{change.courseId}</td>
                <td>{change.originalLesson ->f:format.date(format: 'd.m.Y H:i')}</td>
                <td>{change.changedLesson ->f:format.date(format: 'd.m.Y H:i')}</td>
                <td>{change.room}</td>
                <td>
                    <!-- Show Button: Always visible -->
                    <f:link.action action="secretaryShow" controller="Change"
                                   arguments="{change : change, project : project}"><span data-toggle="tooltip"
                                                                                          data-placement="top"
                                                                                          title="Details"
                                                                                          class="glyphicon glyphicon-eye-open">
                    </f:link.action>
                </td>
                <!-- End Show Button -->

                <!-- Accept Button: Visible if project is progress 2 (ready for process, not yet closed) -->
                <td>
                    <f:if condition="{project.progress} == 2">
                        <f:then>
                            <f:link.action action="secretaryProcess" controller="Change"
                                           arguments="{change : change, answer: 1 }"><span data-toggle="tooltip"
                                                                                           data-placement="top"
                                                                                           title="Akzeptieren"
                                                                                           class="glyphicon glyphicon-ok"></span>
                            </f:link.action>
                        </f:then>
                        <f:else><span class="text-muted glyphicon glyphicon-ok"></span></f:else>
                    </f:if>
                </td>
                <!-- End Accept Button -->

                <!-- Deny Button: Visible if project is progress 2 (ready for process, not yet closed) -->
                <td>
                    <f:if condition="{project.progress} == 2">
                        <f:then>
                            <f:link.action action="secretaryProcess" controller="Change"
                                           arguments="{change : change, answer: 0 }"><span data-toggle="tooltip"
                                                                                           data-placement="top"
                                                                                           title="Ablehnen"
                                                                                           class="glyphicon glyphicon-remove"></span>
                            </f:link.action>
                        </f:then>
                        <f:else><span class="text-muted glyphicon glyphicon-remove"></span></f:else>
                    </f:if>
                </td>
                <!-- End Accept Button -->

            </tr>
        </f:for>

    </f:then>
    <f:else>
        <!-- Project has no Changes (Error) -->
        <tr>
            <td class="bg-danger"></td>
            <td colspan="7">
                Achtung: Das Projekt hat keine Verschiebungen!
            </td>
        </tr>
    </f:else>
</f:if>