<f:layout name="Default"/>

<f:section name="main">
    <h1>Admin Listing for Project</h1>

    <f:flashMessages/>

    <table class="tx_kzoreschedule">
        <tr>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_project.user_id"/>
            </th>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_project.title"/>
            </th>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_project.comment"/>
            </th>
            <th>
                <f:translate key="tx_kzoreschedule_domain_model_project.progress"/>
            </th>
            <th></th>
            <th></th>
        </tr>

        <f:for each="{projects}" as="project">
            <tr>
                <td>
                    <f:link.action action="show" arguments="{project : project}"> {project.userId}</f:link.action>
                </td>
                <td>
                    <f:link.action action="show" arguments="{project : project}"> {project.progress}</f:link.action>
                </td>
                <td>
                    <f:link.action action="delete" arguments="{project : project}">Delete</f:link.action>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>