<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages/>
    <f:render partial="Project/SecretaryProperties" arguments="{project:project}"/>
    <br>
    <h4>Verschiebungen in diesem Projekt</h4>
    <div class="table-responsive">
        <table class="table">
            <f:render partial="Project/SecretaryChangeList" arguments="{project:project}"/>
        </table>
    </div>
    <f:link.action class="btn btn-default" action="secretaryList"><span class="glyphicon glyphicon-chevron-left"></span>Zurück
        zur Liste
    </f:link.action>
    <br/>
</f:section>