<!-- SecretaryShow Template
 *
 * generate details for project in secretary view
 *
 -->


<f:layout name="Default"/>
<f:section name="main">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="application/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="application/javascript" src="{f:uri.resource(path:'js/js.cookie.js')}"></script>
    <link rel="stylesheet" href="{f:uri.resource(path:'css/boostrapStyle.css')}"/>

    <style>
        table {
            font-size:12px !important;
        }
    </style>
    <div class="col-md-12">
        <div class="hidden-print">
            <div class="row text-center" style="margin: 20px;">
                <button onclick="window.history.back()" class="btn btn-default"><span
                        class="glyphicon-chevron-left glyphicon"></span> Zurück
                </button>
                <span id="actionButtons">
    <button onclick="window.print()" class="btn btn-warning">Ausdrucken</button>
   </span>
            </div>
        </div>
        <!-- Render Properties -->
        <h3>Stundenverschiebung</h3>
        <p>Druckdatum:
            <script>
                var now = new Date();
                var dd = now.getDate();
                var mm = now.getMonth() + 1;
                var yyyy = now.getFullYear();
                var h = now.getHours();
                var m = now.getMinutes();
                var s = now.getSeconds();
                if (dd < 10) {
                    dd = '0' + dd
                }
                if (mm < 10) {
                    mm = '0' + mm
                }
                if (h < 10) {
                    h = '0' + h
                }
                if (m < 10) {
                    m = '0' + m
                }
                if (s < 10) {
                    s = '0' + s
                }
                now = dd + '.' + mm + '.' + yyyy + ' ' + h + ':' + m + ':' + s;
                document.write(now);
            </script>
        </p>
        <br>
        <f:render partial="Project/SecretaryProperties" arguments="{project:project}"/>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th colspan="2">

                    </th>

                    <th>
                       <small> <f:translate key="tx_kzoreschedule_domain_model_change.original_lesson"></f:translate></small>
                    </th>
                    <th>
                        <small><f:translate key="tx_kzoreschedule_domain_model_change.changed_lesson"></f:translate></small>
                    </th>
                </tr>
                </thead>
            <f:for each="{project.changes}" as="change" key="key">

                    <tbody>
                    <tr>
                        <f:render partial="Change/SecretaryAnswerColor" arguments="{change:change}"></f:render>
                        <!-- Get Course Details from Course ViewHelper-->
                        <td colspan="2">
                           <b> <f:render partial="Change/CourseDetailAjax"
                                      arguments="{key:key, courseId: change.courseId, mode: 'secretary'}"></f:render>
                               </b>
                        </td>
                        <td>{change.originalLesson ->f:format.date(format: 'd.m.Y H:i')}</td>
                        <td>{change.changedLesson ->f:format.date(format: 'd.m.Y H:i')}</td>
                        </tr>
                    <tr>
                        <f:render partial="Change/SecretaryAnswerColor" arguments="{change:change}"></f:render>
                        <td>
                        <f:if condition="{change.secretaryAnswer} == 2">
                            Bewilligt
                        </f:if>
                        <f:if condition="{change.secretaryAnswer} == 1">
                               Nicht Bewilligt
                        </f:if>

                        </td>
                        <td colspan="2">{change.secretaryComment}</td>
                        <td>
                            <f:if condition="{change.room}">
                                <f:translate key="tx_kzoreschedule_domain_model_change.room"></f:translate>
                                :
                                {change.room}
                            </f:if>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    </tbody>

            </f:for>
                </table>
        </div>
    </div>
    <script>
        var afterPrint = function () {
            jQuery("#actionButtons").html('<f:link.action action="secretaryChange" class="btn btn-success" arguments="{project:project, modification : \"close\"}"> Projekt abschliessen </f:link.action>');
        };

        if (window.matchMedia) {
            var mediaQueryList = window.matchMedia('print');
            mediaQueryList.addListener(function (mql) {
                if (mql.matches) {

                } else {
                    afterPrint();
                }
            });

        }
        window.onafterprint = afterPrint;
    </script>
</f:section>