<f:layout name="Default"/>
{namespace vh=AmosCalamida\Kzoreschedule\ViewHelpers}
<f:section name="main">
    <script>


        var notify = function (id,message) {
            // Check for notification compatibility.
            if (!'Notification' in window) {
                // If the browser version is unsupported, remain silent.
                return;
            }
            // If the user has not been asked to grant or deny notifications
            // from this domain...
            if (Notification.permission === 'default') {
                Notification.requestPermission();
            }
            // If the user has granted permission for this domain to send notifications...
            else if (Notification.permission === 'granted') {
                var n = new Notification(
                        'Neues Projekt (#'+id+')',
                        {
                            'tag' : id,
                            'body': 'Verschiebungsgrund: '+message
                        }
                );

                // Remove the notification from Notification Center when clicked.
                n.onclick = function () {
                    this.close();
                };
                // Callback function when the notification is closed.
                n.onclose = function () {

                };
            }
            // If the user does not want notifications to come from this domain...
            else if (Notification.permission === 'denied') {
                // ...remain silent.
                return;
            }
        };


    </script>
    <div style="clear: both">
        <f:flashMessages/>
    </div>
    <f:switch expression="{divprogress}">
        <f:case value="3"><h1 style="float: left;">Projekte</h1>
            <h6 style="float: right; text-align: right;">
                <f:link.action action="secretaryList" arguments="{progress: divprogress}"><span
                        class="glyphicon glyphicon-check"></span> Abgeschlossene anzeigen
                </f:link.action>
            </h6>
        </f:case>
        <f:case value="2"><h1 style="float: left;">Abgeschlossene Projekte</h1>
            <h6 style="float: right; text-align: right;">
                <f:link.action action="secretaryList" arguments="{progress: divprogress}"><span
                        class="glyphicon glyphicon-log-in"></span> Offene anzeigen
                </f:link.action>
            </h6>
        </f:case>
    </f:switch>

    <f:if condition="{projects}">
        <f:then>
            <f:for each="{projects}" as="project" key="key">
                <script>
                    $(function () {
                        <![CDATA[]]>
                    key = {key}
                    id{key} = {project.uid};
                    message{key} = "{project.comment}";
                    <![CDATA[]]>
                        if (typeof Cookies.get("Project"+id{key}) == 'undefined') {
                        <![CDATA[]]>
                            notify(id{key},message{key});
                            Cookies.set("Project"+id{key},1);
                        <![CDATA[]]>

                    }
                            <![CDATA[]]><![CDATA[]]>


                    });
                </script>
                <table class="table table-condensed">
                    <div>
                        <tr class="active">

                            <td style="width: 15%">
                                <f:link.action action="secretaryShow" arguments="{project : project}">{project.userId}
                                </f:link.action>
                            </td>
                            <td data-toggle="collapse" href="#changeList{key}" aria-controls="changeList{key}"
                                colspan="3">{project.comment}
                            </td>
                            <td></td>
                            <td style="width: 5%">
                                <f:link.action action="secretaryShow" arguments="{project : project}"><span
                                        data-toggle="tooltip" data-placement="top" title="Projekt anzeigen"
                                        class="glyphicon glyphicon-eye-open"></f:link.action>
                            </td>
                            <td style="width: 5%">
                                <f:if condition="{project.progress} == 2">
                                    <f:then>
                                        <f:link.action action="secretaryChange"
                                                       arguments="{project : project, modification : 'close'}"><span
                                                data-toggle="tooltip" data-placement="top" title="Projekt abschliessen"
                                                class="glyphicon glyphicon-save"></span></f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:link.action action="secretaryChange"
                                                       arguments="{project : project, modification : 'open'}"><span
                                                data-toggle="tooltip" data-placement="top" title="Projekt wieder öffnen"
                                                class="glyphicon glyphicon-open"></span></f:link.action>
                                    </f:else>
                                </f:if>
                            </td>
                            <td style="width: 5%">
                                <f:if condition="{project.progress} == 3">
                                    <f:then>
                                        <f:link.action action="delete" arguments="{project : project}"><span
                                                data-toggle="tooltip" data-placement="top" title="Projekt löschen"
                                                class="glyphicon glyphicon-trash"></span></f:link.action>
                                    </f:then>
                                   <f:else><span class="glyphicon glyphicon-trash"></span></f:else>
                                </f:if>
                                </td>
                                   <f:if condition="{vh:array(object: secretaryAnswers, key: key, property: 'none')}> 0">
                                    <f:then>
                                        <td style="border:none; padding-left: 15px; background:none;">
                                        <f:link.action action="secretaryPrint" arguments="{project : project}" pageType="999"><span
                                                data-toggle="tooltip" data-placement="top" title="Ausdrucken"
                                                class="glyphicon glyphicon-print text-success"></span></f:link.action>
                                        </td>
                                    </f:then>
                                   </f:if>

                        </tr>
                    </div>
                    <tbody class=" table table-hover" id="changeList{key}">
                    <f:render partial="Project/SecretaryChangeList" arguments="{project : project}"/>
                    </tbody>
                </table>
            </f:for>

        </f:then>
        <f:else>
            <f:switch expression="{divprogress}">
                <f:case value="3">
                    <p style="clear: both;">Es gibt momentan keine Anfragen (
                        <f:format.date format="d.m.Y - H:i:s">now</f:format.date>
                        )</span></p>
                </f:case>
                <f:case value="2">
                    <p style="clear: both;">Es gibt keine abgeschlossenen Projekte </span></p>
                </f:case>
            </f:switch>
        </f:else>
    </f:if>
    <script>

        var sec = 0;
        var secReload = 5000;

        var timer = setInterval(function () {
            if (sec == secReload) {
                location.reload();
            }
            sec++;
        }, 1000);



    </script>
</f:section>