<!-- TeacherList Template
 *
 * display list of changes for teacher view
 *
 -->
{namespace vh=AmosCalamida\Kzoreschedule\ViewHelpers}
<f:layout name="Default" xmlns:f="http://www.w3.org/1999/html"/>
<f:section name="main">
    <f:flashMessages style="clear:both;"/>
    <!-- check filter and show either only answered (filter: 0) or unanswered (filter:1) -->
    <f:switch expression="{divfilter}">
        <f:case value="1"><h1 style="float: left;">Anfragen </h1>
            <h6 style="float: right; text-align: right;">
                <f:link.action class="inner-ajax-button" action="teacherList" pageType="997" arguments="{filter: divfilter}"><span
                        class="glyphicon glyphicon-check"></span> Beantwortete anzeigen
                </f:link.action>
            </h6>
        </f:case>
        <f:case value="0"><h1 style="float: left;">Beantwortete Verschiebungen</h1>
            <h6 style="float: right; text-align: right;">
                <f:link.action class="inner-ajax-button" action="teacherList" pageType="997" arguments="{filter: divfilter}"><span
                        class="glyphicon glyphicon-log-in"></span> Offene anzeigen
                </f:link.action>
            </h6>
        </f:case>
    </f:switch>
    <!-- check if there are changes to display -->
    <f:if condition="{changes}">
        <f:then>
            <table class="table table-hover">
                <tr>
                    <th></th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_change.course_id"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_project.user_id"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_change.original_lesson"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_change.changed_lesson"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_change.teacherAnswer"/>
                    </th>
                    <th></th>

                </tr>
                <f:for each="{changes}" as="change" key="key">

                    <tr>
                        <f:render partial="Change/TeacherAnswerText"
                                  arguments="{change : change, role : 'teacher'}"></f:render>
                        <!-- Get Course Details from Course ViewHelper-->
                        <td>
                            <f:render partial="Change/CourseDetailAjax" arguments="{key:key, courseId: change.courseId, mode: 'teacher'}"></f:render>
                        </td>
                        <td>{vh:array(object: projects, key: key, property: 'userId')}</td>
                        <td>{change.originalLesson ->f:format.date(format: '%a %d.%m.%Y %H:%M')}</td>
                        <td>{change.changedLesson ->f:format.date(format: '%a %d.%m.%Y %H:%M')}</td>
                        <td></td>
                        <td>
                            <!-- check if progress is still 1 (only then, teachers can answer) -->
                            <f:if condition="{vh:array(object: projects, key: key, property: 'progress')} == 1">
                                <f:then>
                                    <!-- check filter (0: answered -> edit answer dropdowns are shown / 1: unanswered -> simple toggles shown) -->
                                    <f:switch expression="{divfilter}">
                                        <f:case value="0">
                                            <!-- Dropdown to edit answer -->
                                            <div class="dropdown">
                                                <a class="btn btn-xs btn-default dropdown-toggle" id="dropdownMenu1"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Antwort bearbeiten
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li>
                                                        <f:link.action action="teacherAnswer" controller="Change"
                                                                       arguments="{change : change, answer: 1 }"><span
                                                                class="text-success"><span
                                                                class="glyphicon glyphicon-ok"></span> Akzeptieren</span>
                                                        </f:link.action>
                                                    </li>
                                                    <li>
                                                        <f:link.action action="teacherAnswer" controller="Change"
                                                                       arguments="{change : change, answer: 0 }"><span
                                                                class="text-danger"><span
                                                                class="glyphicon glyphicon-remove"></span> Ablehnen</span>
                                                        </f:link.action>
                                                    </li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a href="#">Abbrechen</a></li>
                                                </ul>
                                            </div>
                                            <!-- End Dropdown -->
                                        </f:case>
                                        <f:case value="1">
                                            <!-- Simple Toggles to answer -->
                                            <f:link.action action="teacherAnswer" controller="Change"
                                                           arguments="{change : change, answer: 1 }">
                                                <span data-toggle="tooltip" data-placement="top" title="Zustimmen"
                                                      class="glyphicon glyphicon-ok"></span>
                                            </f:link.action>
                                            <f:link.action action="teacherAnswer" controller="Change"
                                                           arguments="{change : change, answer: 0 }">
                                                <span data-toggle="tooltip" data-placement="top" title="Ablehnen"
                                                      class="glyphicon glyphicon-remove"></span>
                                            </f:link.action>
                                            <!-- End Toggles -->
                                        </f:case>
                                    </f:switch>

                                </f:then>
                                <f:else>
                                    <!-- Progress not 1 -> disable dropdown and buttons -->
                                    <f:switch expression="{divfilter}">
                                        <f:case value="0">
                                            <div class="dropdown">
                                                <button disabled class="btn btn-default btn-xs dropdown-toggle"
                                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true">
                                                    Antwort bearbeiten
                                                    <span class="caret"></span>
                                                </button>
                                            </div>
                                        </f:case>

                                        <f:case value="1">
                                            <span class="text-muted glyphicon glyphicon-ok"></span>
                                            <span class="text-muted glyphicon glyphicon-remove"></span>
                                        </f:case>
                                    </f:switch>
                                </f:else>
                            </f:if>
                        </td>
                    </tr>
                    <!-- render secretary answer row -->
                    <f:render partial="Change/SecretaryAnswerBlockRow" arguments="{change : change}"></f:render>


                </f:for>

            </table>

        </f:then>
        <f:else>
            <!-- no changes found -->
            <f:switch expression="{divfilter}">
                <f:case value="1">
                    <!-- show message and link to answered changes -->
                    <p style="clear: both;">Zurzeit gibt es keine Anfragen (
                        <f:link.action action="teacherList" pageType="997" class="btn btn-xs inner-ajax-button" arguments="{filter: divfilter}">
                            Beantwortete anzeigen
                        </f:link.action>
                        )</span></p>
                </f:case>
                <f:case value="0">
                    <!-- show message and link to unanswered changes -->
                    <p style="clear: both;">Es wurden keine beantworteten Verschiebungen gefunden (
                        <f:link.action action="teacherList" pageType="997" class="btn btn-xs inner-ajax-button" arguments="{filter: divfilter}">Offene
                            anzeigen
                        </f:link.action>
                        )</span></p>
                </f:case>
            </f:switch>
        </f:else>
    </f:if>

    <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(".inner-ajax-button").click(function (event) {
            // prevent standard submission
            event.preventDefault();
            // show loading gif
            $('.loader').show();
            // clear previous result
            $(".formresult").html("");
            var button = $(this);
            // define action, method and data from fluid form
            var action = button.attr("href"),
                    method = "POST",
                    data = "";
            // start ajax request
            $.ajax({
                url: action,
                type: method,
                data: data
            }).done(function (data) {
                // on success display the html generated by the FindRoomViewHelper
                $('.formresult').html(data)
            }).fail(function (error) {
                // on failure display notice and post the complete error msg to console
                $('.formresult').html('<p class="text-center text-muted" style="margin-top: 10%;"> <f:image src="EXT:kzoreschedule/Resources/Public/Icons/error.svg" width="50" /> <br><br> <small title="'+ error.status + ': ' +error.statusText +'"  data-toggle="tooltip" data-placement="auto">Es ist ein Fehler aufgetreten!</small><br><small><a onclick="load();">Erneut versuchen</a></small> </p>');
                $('[data-toggle="tooltip"]').tooltip();
                console.debug(error);
            }).always(function () {
                // always hide the loading gif on completion and
                $(".loader").hide();
            });
        });


    </script>

</f:section>