
<label for="userId">
	<f:translate key="tx_kzoreschedule_domain_model_project.user_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="userId" /><br />
<label for="title">
	<f:translate key="tx_kzoreschedule_domain_model_project.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="comment">
	<f:translate key="tx_kzoreschedule_domain_model_project.comment" />
</label><br />
	<f:form.textarea property="comment" cols="40" rows="15" /><br />
<label for="progress">
	<f:translate key="tx_kzoreschedule_domain_model_project.progress" />
</label><br />
	<f:form.textfield property="progress" /><br />