<script>

    /* DateTimePicker Partial
     *
     * sets the jQuery Configuration Code for the DateTimePicker and SumoSelect Plugin
     * needs to be included wherever DateTimePicker is used
     */

    jQuery(function () {
        //initialize date and time-picker on .datetime class
        jQuery('.datetime').datetimepicker({
            onGenerate:function(){
                // remove weekends
                jQuery(this).find('th').slice(-2).remove();
                jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                        .remove();
            },
            //disable automatic select when input is empty
            defaultSelect: false,
            //set language
            lang: 'de',
            //define month and weekday strings for language
            i18n: {
                de: {
                    months: [
                        'Januar', 'Februar', 'März', 'April',
                        'Mai', 'Juni', 'Juli', 'August',
                        'September', 'Oktober', 'November', 'Dezember'
                    ],
                    dayOfWeek: [
                        'So', 'Mo', 'Di', 'Mi',
                        'Do', 'Fr', 'Sa'
                    ]
                }
            },
            //set selectable times (lesson start)
            allowTimes: ['07:30', '08:25', '09:20', '10:25', '11:20', '12:25', '13:20', '14:15', '15:10', '16:05', '16:55'],
            //set format to be written into input field
            format: 'd.m.Y H:i',
            //define start day of week (monday)
            dayOfWeekStart: '1',
            //set inline display (hide input, just show datepicker)
            inline: 'true',

            /* setting dates
             * system works with 1970/01/01 as today and every year/month/day +/- from today
             *
             * set minimum date to today
             */

            minDate: '+1970/01/01',
            //set maximum date to +3 months (year/month/day)
            maxDate: '+1970/03/01',
            //set minimum year to current
            yearStart: new Date().getFullYear(),
            //set maximum year to next
            yearEnd: new Date().getFullYear()+1

        });

        $('select').SumoSelect({search: true, searchText: 'Suche'});

    });

</script>