<!-- Change Form Fields Partial
 *
 * defines labels and form inputs for change objects
 * used in forms for create and update actions
 -->


{namespace vh=AmosCalamida\Kzoreschedule\ViewHelpers}

<!-- START courseId -->
<label for="courseId">
    <f:translate key="tx_kzoreschedule_domain_model_change.course_id"/>
    <span class="required">(*)</span>
</label><br/>
<f:alias map="{ class: '{vh:frontEndUser(attribute:\'zip\')}' }">
<f:form.select options="{vh:findCourses(class:class)}" optionValueField="ID" optionLabelField="Label" class="form-control" property="courseId"/><br/>
</f:alias>
    <!-- END courseId -->

<!-- DateTimePickers wrapped in row and col-md-6 bootstrap grid for better responsive behaviour -->
<div class="row">

    <!-- START originalLesson (DateTimePicker) -->
    <div class="col-md-6">
        <label for="originalLesson">
            <f:translate key="tx_kzoreschedule_domain_model_change.original_lesson"/>
            <span class="required">(*)</span>
        </label><br/>
        <f:form.textfield class="form-control datetime" property="originalLesson"
                          value="{change.originalLesson ->f:format.date(format: 'd.m.Y H:i')}"/>
    </div>
    <!-- END originalLesson -->

    <!-- START changedLesson (DateTimePicker) -->
    <div class="col-md-6">
        <label for="changedLesson">
            <f:translate key="tx_kzoreschedule_domain_model_change.changed_lesson"/>
            <span class="required">(*)</span>
        </label><br/>
        <f:form.textfield class="form-control datetime" property="changedLesson"
                          value="{change.changedLesson ->f:format.date(format: 'd.m.Y H:i')}"/>
        <br/>
    </div>
    <!-- END changedLesson -->

</div>
<br/>
