<!-- Change Secretary Answer Partial
 *
 * Shows an additional Row in the change list with the
 * secretary answer
 -->

<f:if condition="{change.secretaryAnswer} != 0">
    <f:then>
        <tr>
            <f:render partial="Change/SecretaryAnswerColor" arguments="{change : change}"></f:render>
            <f:render partial="Change/SecretaryAnswerText" arguments="{change : change}"></f:render>
            <td colspan="3">
                {change.secretaryComment}
            </td>
            <td colspan="3">
                <f:if condition="{change.room}">
                    <f:translate key="tx_kzoreschedule_domain_model_change.room"></f:translate>
                    :
                    {change.room}
                </f:if>
            </td>
        </tr>
    </f:then>
</f:if>