<!-- Secretary Answer Text Partial
 *
 * defines color and text for secretary answer (extended display)
 *
 -->

<f:switch expression="{change.secretaryAnswer}">
    <f:case value="0">
        <td class="bg-info text-info">Warte</td>
    </f:case>
    <f:case value="1">
        <td class="bg-danger text-danger">Nicht bewilligt {f:if(condition: change.secretaryComment, then: ' <span
                data-toggle="tooltip" data-placement="right" title="{change.secretaryComment}"
                class="glyphicon glyphicon-comment"></span>')}
        </td>
    </f:case>
    <f:case value="2">
        <td class="bg-success text-success">Bewilligt {f:if(condition: change.secretaryComment, then: ' <span
                data-toggle="tooltip" data-placement="right" title="{change.secretaryComment}"
                class="glyphicon glyphicon-comment"></span>')}
        </td>
    </f:case>
</f:switch>