<f:layout name="Default"/>

<f:section name="content">
    <h1>Administrator reSchedule</h1>

    <f:flashMessages/>

    <f:if condition="{projects}">
        <f:then>
            <table class="tx_kzoreschedule table">
                <tr>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_project.user_id"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_project.comment"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_project.progress"/>
                    </th>
                    <th></th>
                </tr>

                <f:for each="{projects}" as="project">
                    <tr>
                        <td> {project.userId}</td>
                        <td> {project.comment}

                        </td>
                        <f:render partial="Project/ProgressTable" arguments="{project : project}"/>

                        <td>
                            <f:link.action action="delete" arguments="{project : project}">Löschen</f:link.action>
                        </td>
                    </tr>
                </f:for>
            </table>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal">
                Alle Projekte löschen
            </button>
        </f:then>
        <f:else>
            <h5>Keine Projekte vorhanden</h5>
        </f:else>
    </f:if>
    <div class="modal fade" id="confirmationModal" tabindex="-1" style="z-index: 1050" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Aktion bestätigen</h4>
                </div>
                <div class="modal-body">
                    <p>Diese Aktion löscht ALLE Projekte und kann nicht rückgängig gemacht werden.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <f:link.action action="deleteAll" class="btn btn-danger">Ja, ich möchte alle Projekte löschen</f:link.action>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</f:section>