<f:layout name="Default"/>
{namespace vh=AmosCalamida\Kzoreschedule\ViewHelpers}

<f:section name="content">
    <h1>Administrator reSchedule</h1>

    <f:flashMessages/>

    <f:if condition="{projects}">
        <f:then>
            <table class="tx_kzoreschedule table">
                <tr>
                    <th colspan="2">
                        <f:translate key="tx_kzoreschedule_domain_model_project.user_id"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_project.comment"/>
                    </th>
                    <th>
                        <f:translate key="tx_kzoreschedule_domain_model_project.progress"/>
                    </th>
                    <th></th>
                </tr>

                <f:for each="{projects}" as="project">
                    <tr>
                        <td colspan="2">{project.userId}</td>
                        <td> {project.comment}

                        </td>
                        <f:render partial="Project/ProgressTable" arguments="{project : project}"/>

                        <td>
                            <f:link.action action="deleteAdmin" arguments="{project : project}">Löschen</f:link.action>
                        </td>
                    </tr>
                    <f:if condition="{project.changes}">
                        <f:then>
                            <f:for each="{project.changes}" as="change">
                                <tr>
                                    <td class="bg-info"></td>
                                    <td>
                                        {vh:courseDetail(id:'{change.courseId}', mode:'secretary')}
                                    </td>
                                    <td>
                                        {change.originalLesson ->f:format.date(format: '%a %d.%m.%Y %H:%M')}
                                    </td>
                                    <td>
                                        ➜ {change.changedLesson ->f:format.date(format: '%a %d.%m.%Y %H:%M')}
                                    </td>

                                        <f:render partial="Change/TeacherAnswerText"
                                                  arguments="{change : change, role : 'teacher', project: project}"></f:render>

                                </tr>
                            </f:for>
                        </f:then>
                        <f:else>
                            <tr><td colspan="4">Keine Verschiebungen enthalten</td></tr>
                        </f:else>
                    </f:if>
                </f:for>
            </table>
            <button type="button" class="btn btn-danger" onclick="showModal();">
                Alle Projekte löschen
            </button>
        </f:then>
        <f:else>
            <h5>Keine Projekte gefunden</h5>
        </f:else>
    </f:if>
    <script>

        var actionUri = '<f:uri.action action="deleteAll" />';

        function showModal() {
           parent.TYPO3.Modal.confirm('Aktion bestätigen', '<p>Diese Aktion löscht ALLE Projekte und kann nicht rückgängig gemacht werden.</p>', parent.TYPO3.Severity.error, [
                {
                    text: 'Ja, ich möchte alle Projekte löschen',
                    btnClass: 'btn-danger',
                    trigger: function () {
                        window.location.replace(actionUri);
                        parent.TYPO3.Modal.dismiss();
                    }
                }, {
                    text: 'Abbrechen',
                    trigger: function () {
                        parent.TYPO3.Modal.dismiss();
                    }
                }
            ]);
        }
    </script>
</f:section>

