
<label for="courseId">
	<f:translate key="tx_kzoreschedule_domain_model_change.course_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="courseId" /><br />
<label for="originalLesson">
	<f:translate key="tx_kzoreschedule_domain_model_change.original_lesson" />
</label><br />
	<f:form.textfield property="originalLesson"  value="{change.originalLesson->f:format.date()}" /><br />
<label for="changedLesson">
	<f:translate key="tx_kzoreschedule_domain_model_change.changed_lesson" />
</label><br />
	<f:form.textfield property="changedLesson"  value="{change.changedLesson->f:format.date()}" /><br />
<label for="secretaryAnswer">
	<f:translate key="tx_kzoreschedule_domain_model_change.secretary_answer" />
</label><br />
	<f:form.checkbox property="secretaryAnswer" value="1" /><br />
<label for="secretaryComment">
	<f:translate key="tx_kzoreschedule_domain_model_change.secretary_comment" />
</label><br />
	<f:form.textarea property="secretaryComment" cols="40" rows="15" /><br />
<label for="room">
	<f:translate key="tx_kzoreschedule_domain_model_change.room" />
</label><br />
	<f:form.textfield property="room" /><br />
<label for="teacherAnswer">
	<f:translate key="tx_kzoreschedule_domain_model_change.teacher_answer" />
</label><br />
	<f:form.checkbox property="teacherAnswer" value="1" /><br />
<label for="teacherComment">
	<f:translate key="tx_kzoreschedule_domain_model_change.teacher_comment" />
</label><br />
	<f:form.textarea property="teacherComment" cols="40" rows="15" /><br />