
<table class="tx-kzoreschedule" >
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.course_id" />
		</td>
		<td>
			{change.courseId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.original_lesson" />
		</td>
		<td>
			{change.originalLesson -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.changed_lesson" />
		</td>
		<td>
			{change.changedLesson -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.secretary_answer" />
		</td>
		<td>
			{change.secretaryAnswer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.secretary_comment" />
		</td>
		<td>
			{change.secretaryComment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.room" />
		</td>
		<td>
			{change.room}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.teacher_answer" />
		</td>
		<td>
			{change.teacherAnswer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_kzoreschedule_domain_model_change.teacher_comment" />
		</td>
		<td>
			{change.teacherComment}
		</td>
	</tr>
</table>