<!-- Change SecretaryShow Template
 *
 * details for change in secretary view
 *
 -->
<f:layout name="Default"/>

<f:section name="main">

    <f:flashMessages/>
    <!-- render change properties -->
    <f:render partial="Change/Properties" arguments="{change:change, mode:'secretary'}"/>
    <!-- Back Button to Project -->
    <f:link.action class="btn btn-default" action="secretaryList" controller="Project" arguments="{project : project}">
        <span class="glyphicon glyphicon-chevron-left"></span>Zurück zur Liste
    </f:link.action>
    <!-- End Back Button to Project -->
    <!-- Back Button to List -->
    <f:link.action class="btn btn-default" action="secretaryShow" controller="Project" arguments="{project : project}">
        <span class="glyphicon-chevron-left glyphicon"> </span>Zurück zum Projekt
    </f:link.action>
    <!-- End Back Button to List -->
    <br/>

</f:section>