<f:layout name="Default" xmlns:f="http://www.w3.org/1999/html"/>

<f:section name="main">
    <h1>Verschiebung beantworten</h1>

    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object:Change}"/>
    <f:render partial="Change/InlineProperties" arguments="{change:change}"/>
    <f:form action="secretaryProcessCompletion" name="change" object="{change}" arguments="{project : project}">
        <f:form.hidden class="form-control" property="secretaryAnswer"/>
        <br/>
        <label for="secretaryComment">
            <f:translate key="tx_kzoreschedule_domain_model_change.secretary_comment"/>
        </label><br/>
        <f:form.textarea class="form-control" property="secretaryComment" cols="40" rows="3"/>
        <br/>
        <f:if condition="{answer} == 1">
            <f:then>
                <label for="room">
                    <f:translate key="tx_kzoreschedule_domain_model_change.room"/>
                </label><br/>
                <div class="input-group roomInput">
                    <f:form.textfield class="form-control" property="room"/>
                    <span class="input-group-btn">
                        <button id="roomSearchToggle" class="btn btn-warning" type="button" data-toggle="modal"
                                data-target="#roomSearch"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                </br>
            </f:then>
            <f:else>
                <f:form.hidden class="form-control" property="room"/>
                <br/>
            </f:else>
        </f:if>


        <f:link.action class="btn btn-default" action="secretaryList" controller="Project"
                       arguments="{project : project}">Abbrechen
        </f:link.action>
        <f:form.submit class="btn btn-success" value="Speichern"/>
    </f:form>

    <div class="modal fade" tabindex="-1" id="roomSearch" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Freies Zimmer finden</h4>
                </div>
                <div class="modal-body">
                    <p><b>Datum:</b> {change.changedLesson ->f:format.date(format: '%a %d.%m.%Y %H:%M')}</p>
                    <f:form action="findRoom" arguments="{change:change}" method="POST" pageType="999"
                            class="ajax-form-control">
                        <label>
                            Fachzimmer:
                        </label>
                        <br>
                        <label class="radio-inline">
                            <f:form.radio name="category" value="C"/>
                            Chemie
                        </label>
                        <label class="radio-inline">
                            <f:form.radio name="category" value="P"/>
                            Physik
                        </label>
                        <label class="radio-inline">
                            <f:form.radio name="category" checked="checked" value="B"/>
                            Biologie
                        </label>
                        <label class="radio-inline">
                            <f:form.radio name="category" value="Z"/>
                            BG
                        </label>
                        <label class="radio-inline">
                            <f:form.radio name="category" value="T"/>
                            Turnhalle
                        </label>
                        <br>
                        <br>
                        <label>
                            Normale Zimmer:
                        </label>
                        <br>
                        <label class="radio-inline">
                            <f:form.radio name="category" checked="checked" value="G"/>
                            Klassenzimmer
                        </label>

                        <label class="radio-inline">
                            <f:form.radio name="category" value="S"/>
                            Spezialzimmer
                        </label>
                        </br>
                        </br>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                        <f:form.submit class="btn btn-warning" value="Zimmer suchen"/>
                    </f:form>
                    </br>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
                            <f:image class="loader" style="display: none; width: 200px; height: 150px;"
                                     src="EXT:kzoreschedule/Resources/Public/Icons/ajax-loader.gif"/>
                        </div>
                    </div>
                    <div class="formresult">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("form.ajax-form-control").submit(function (event) {
            $('.loader').show();
            $(".formresult").html("");
            event.preventDefault();
            var form = $(this);
            var action = form.attr("action"),
                    method = form.attr("method"),
                    data = form.serialize();
            $.ajax({
                url: action,
                type: method,
                data: data
            }).done(function (data) {
                $('.formresult').html(data)
            }).fail(function (error) {
                $('.formresult').html('<p>Es ist ein Fehler aufgetreten!</p>');
                console.debug(error);
            }).always(function () {
                $('#roomSearch').on('hidden.bs.modal', function () {
                    $(".formresult").html("");

                });
                $(".loader").hide();
            });
        });


    </script>
</f:section>
