<f:layout name="Default"/>

<f:section name="main">

    <f:flashMessages/>
    <f:render partial="Change/Properties" arguments="{change:change}"/>
    <f:link.action class="btn btn-default" action="secretaryList" controller="Project" arguments="{project : project}">
        <span class="glyphicon glyphicon-chevron-left"></span>Zurück zur Liste
    </f:link.action>
    <f:link.action class="btn btn-default" action="secretaryShow" controller="Project" arguments="{project : project}">
        <span class="glyphicon-chevron-left glyphicon"> </span>Zurück zum Projekt
    </f:link.action>
    <br/>

</f:section>