/** Additional Style to customize Bootstrap */

.btn {

    border-radius: 2px;
}

body {
    font-size: 14px;
}

h1 {
    font-size:35px;
    margin-bottom:50px;
}

a {
    text-decoration:none !important;
}

.input-group-btn .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 6px;
    font-size: 12px;
    line-height: 1.7;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media print {
    td.bg-danger {
        background-color: #f2dede !important;
    }

    td.bg-warning {
        background-color: orange !important;
    }

    td.bg-success {
        background-color: #dff0d8 !important;
    }

}
